<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Flatmate Bill</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!-- Page title -->
        <h1>Home Page</h1>
        
        <!-- Link to navigate to the bill form page using Flask's url_for function -->
        <a href="{{url_for('bill_form_page')}}">Click here</a>
    </body>
</html>
